/* Esconde a barra de rolagem */
::-webkit-scrollbar {
    display: none;
}

/* CSS geral da página */

body {
    font-family: 'Lora', serif;
}

/* CSS do Header */
header {   
    background: url("img/header.png");
    background-position: center;
    background-size: cover;
}

.caixa {
    position: relative;
    padding: 140px 0;
    margin: 0 20%;
}

header p {
    font-size: 23px;
    font-style: italic;
    text-align: center;
    color: white;
    padding-top: 10px;
    clear: none;
}

header h1 {
    font-family: 'Motserrat', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    color: white;
    padding: 30px 0;
}

nav {
    text-align: center;
    padding-top: 45px;
}

nav li {
    display: inline;
    padding: 15px;
    margin: 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #DDD;
    font-size: 22px;
    text-decoration: none;
    padding: 5PX 10px;
    background-color: rgba(30, 30, 30, 50%);
    border-radius: 5px;
}

nav a:hover {
    color: #222;
    background-color: rgba(230, 230, 230, 50%);
    transition: 400ms;
}

header img {
    height: 65px;
    display: block;
    margin: 0 auto;
    padding-top: 4px;
}

/* CSS da seção Sobre */

main {    
    background: linear-gradient(#ccb, #FEFEFE);
}

.sobre-mim {
    width: 80%;
    padding: 5em 3em;
    margin: 0 auto;
}

.titulo-principal {
    font-family: 'Motserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.sobre-img {
    width: 400px;
    border-radius: 50%;
    opacity: 0.85;
    float: right;
    padding: 15px 0 15px 15px;
    vertical-align: middle;
}

.sobre-mim p {
    font-size: 1.2em;
    line-height: 1.3em;
    margin: 0 0 1em;
}

/* CSS da seção Artigos */

.artigos {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.artigos ul {
    padding-top: 20px;
}

.artigos li {
    display: inline-block;
    text-align: center;
    background: #ddc;
    width: 30%;
    height: 400px;
    vertical-align: top;
    margin: 20px 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 10px;
}

.titulo-artigo {
    font-family: 'Motserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.artigos img {
    width: 150px;
    border-radius: 50%;
    padding: 10px;
}

.artigos p {
    font-size: 16px;
}

/* CSS da seção Contato */

.contato {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0 60px;
}

form {
    width: 50%;
    display: inline-block;
}

form label, form legend {
    display: block;
    font-size: 16px;
    margin: 20px 0 5px;
    font-weight: bold;
}

.input-padrao {
    display: block;
    padding: 5px 15px;
    width: 300px;
}

.checkbox {
    font-size: 13px;
    margin: 0;
}

.enviar {
    width: 320px;
    margin: 20px 0 5px 1%;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    background: #DDC;
    border: 1px solid #343A40;
    transition: 300ms all;
    cursor: pointer;
}

.enviar:hover {
    background: #343A40;
    color: #DDC;
}

.contato-img {
    width: 45%;
    max-width: 400px;
    border-radius: 50%;
    vertical-align: top;
    margin-top: 40px;
    opacity: 80%;
}

/* CSS do Footer */

footer {
    background: #343A40;
}

.redes-sociais {
    text-align: center;
    padding: 60px;
}

.redes-sociais img {
    margin: 10px;
}

.copyright {
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    padding: 40px;
}